Task 1: Searching a List

In the list below, how would you check for the presence of the data item USA?

mynames = ["Joe", "Zoe", "world", "Brad", "A ngelina", "world", "Zuki", "Tom", "Paris", "w orld", "magic"]

The output should be "TRUE" if the data item USA is present and "FALSE" if not present.

In [19]:
mynames = ["Joe", "Zoe", "world", "Brad", "A ngelina", "world", "Zuki", "Tom", "Paris", "w orld", "magic"]
if 'USA' in mynames:
    print("TRUE")
else:
    print("FALSE")

FALSE

Task 2: Frequency Counts of Elements in a List

How would you identify the number of times the data item world is present in the following data?

mynames

["Joe", "Zoe", "world", "Brad", "Angelina"," world", "Zuki", "Tom", "Paris", "world", "mag ic"]

In [21]:
mynames = ["Joe", "Zoe", "world", "Brad", "Angelina", " world", "Zuki", "Tom", "Paris", "world", "mag ic"]
world = mynames.count("world")
print(world)

2

Task 3: Looping Over a List

Write a program to count the total number of even and odd numbers in the list defined below.

numlist list(range (1,30))

The logic should be implemented using a single "for" loop.

In [25]:
numlist = list(range(1, 30))
even_count = 0
odd_count = 0
for number in numlist:
    if number % 2 == 0:
         even_count += 1
    else:
        odd_count += 1
print("Total even numbers:", even_count)
print("Total odd numbers: ,odd_count")

Total even numbers: 14
Total odd numbers: ,odd_count

Task 4: Appending Elements to a List

Select the first 5 even numbers from numlist, store them in a new list, and display the contents of the new list.

numlist list (range (1,30))

Hint:

el = [] #el is an empty list

Use the append() function to add elements to the new empty list.

In [27]:
# Define the list of numbers from 1 to 29
numlist = list(range(1, 30))
el = []
for number in numlist:
    if number % 2 == 0:
        el.append(number)
        if len(el) == 5:
            break
print(el)

[2, 4, 6, 8, 10]

Task 5: Arithmetic Operations on List

Elements

Print the last two odd numbers from numlist. numlist list (range (1,30))

Note: Do not reverse the list and do not use a new list

In [35]:

numlist = list(range(1, 30))
for number in numlist:
    if number % 2 != 0:  
        second_last_odd = last_odd
        last_odd = number
print("Second last odd number:",second_last_odd)
print("Last odd number:", last_odd)

Second last odd number: 27
Last odd number: 29

Task 7: Populating Elements in a List

Create two lists as defined below and print them one after the other.

list_a = squares of all the numbers from 1 to 10

list_b=squares of all the numbers from 30 to 40

In [41]:
list_a = [x**2 for x in range(1, 11)]
list_b = [x**2 for x in range(30, 41)]
print("List A:", list_a)
print("List B:", list_b)

List A: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
List B: [900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

Task 8: Iterations in Python Using "for" Loop

Accept a positive integer from the user. Print the multiplication table of the integer using the "for" loop and the range() function.

Sample input: 5

Sample output:

5 x1=5

5 x 2 = 10

5 x 10 = 50

In [58]:
number = 5
for i in range(1, 11):
     print(f"{number} x {i} = {number * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50